/* MAIN CONTAINER */
.container {
    min-height: 100vh;
    background: #f7f9fc;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 30px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
}

/* LOGO */
header img {
    width: 90px;
    height: auto;
    /* object-fit: cover; */
    /* border-radius: 50%; */
}

/* TITLE */
header h1 {
    font-size: 47px;
    color: #222;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
header h4{
    color: #99A1AF;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    
}


/* .list {
    padding: 30px 40px;
    background-color: aqua;
} */

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }

    header h1 {
        font-size: 18px;
    }

    .list {
        padding: 20px;
    }
}